@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

@font-face {
    font-family: Ultima Pro;
    font-weight: bold;
    src: url("../../assets/fonts/UltimaPro-Bold.otf") format("opentype");
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f3f5f7;
}

header {
	color: white;
	width: 100%;
	height: 900px;
	background-image: url('../../img/header-bg.png');
	@extend %bgImage;

	@media screen and (max-width: 1520px) {
		height: 714px;
	}

	@media screen and (max-width: 1199px) {
		height: 660px;
	}

	@media screen and (max-width: 991px) {
		background-image: url('../../img/flat-header-bg.jpg');
		height: auto;
		padding-bottom: 70px;
	}

}

a {
	color: white;

	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

button, input {
	border: unset;
    outline: unset;
}

button:focus {
	outline: unset;
}

i {
	cursor: pointer;
}


%bgImage {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

#top-header {
	opacity: 0.6;
	border-bottom: 2px solid #F84053;

	@media screen and (max-width: 600px) {
		display: none;
	}

	ul {

		li {
			position: relative;
			padding-left: 40px;

			&:last-of-type::after, &:nth-child(2)::after {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				position: absolute;
				left: 16px;
				top: 10px;
				background: rgba(152, 9, 22, 0.5);
			}

		}
	}
}

#search-box {
    width: 326px;
    padding: 12px 12px;
    background: rgba(235, 61, 77, 0.7);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

	@media screen and (max-width: 1199px) {
		width: 280px;
	}

	@media screen and (max-width: 480px) {
		width: 170px;
	}

	i {
		color: #FEE43A;
	}

	input {
	    background-color: transparent;
	    color: #FDFFFF;
	    font-size: 16px;
	    display: block;
	    width: 80%;

		&:focus::placeholder {
	    	color: transparent;
		}

	    &::placeholder {
	    	color: #FDFFFF;
	    }
	}
	
}

#mid-header {
	margin-top: 10px;

	@media screen and (max-width: 600px) {
		margin-top: 0;
		padding: 0;
	}

	>div {

		@media screen and (max-width: 991px) {
			background: #D71E31;
			border-bottom: 6px solid #D2162A;
			box-shadow: 0px 2px 1px #CC2C3B;
			padding: 10px 20px;
			border-radius: 10px;
		}

		>div:last-of-type {

			@media screen and (max-width: 991px) {
				display: none;
			}

		}

	}

	ul li {

		border: 3px solid #F84053;
		box-shadow: 0px 2px 1px #CC2C3B;
		border-radius: 100px;
		width: 165px;
	    padding: 8px 0;
	    text-align: center;
	    margin-left: 10px;

	    @media screen and (max-width: 1199px) {
			width: 150px;
		}

		a {
			color: #FDFFFF;
			font-size: 15px;
			line-height: 19px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
		}

		img {
			margin-right: 10px;
		}

	}

	#logo {

		@media screen and (max-width: 991px) {
			width: 95px;
		}
	}

	#close-menu {
		display: none;
		cursor: pointer;
		width: 24px;
	}

	#hamb-block {
		display:  none;
		width: 24px;

		@media screen and (max-width: 991px) {
			display: block;
			cursor: pointer;
		}
	}

}

#large-menu {

	@media screen and (max-width: 991px) {
		display: none;
	}

	>div {
		background-color: #d2162a;
		box-shadow: 0px 1px 3px rgba(146, 30, 28, 0.2);
		border-radius: 13px;
		padding: 6px;
		margin-top: 10px;
		>div {
		    background-color: #D71E31;
			border-radius: inherit;
		}
	}

	#catalog-link {
		border-radius: 13px;
		background: rgba(235, 61, 77, 0.55);
		padding: 15px 30px;


		@media screen and (max-width: 1199px) {
			padding: 15px;
		}

		img {
			margin-right: 10px;
		}
	}

	nav {
		padding: 15px 10px;

		a {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
			color: #FDFFFF;
		}

		li+li {
			margin-left: 40px;

			@media screen and (max-width: 1199px) {
				margin-left: 24px;
			}
		}
	}

}

#mobile-menu {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	background-color: white;
	width: 90%;
	margin-top: 10px;
	box-shadow: 0px 4px 20px
	rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	#catalog-menu {
		display: none;
	}

	li {
		display: block;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 50px;
		border-bottom: 1px solid #E9EDF1;
		
		transition: border-color .2s;

		cursor: hover;

		&:hover {
			border-color: #D2162A;
		}
		
		a {
			color: black;
		}
	}

	.back a {
		color: #E23042;
	}

	.red-account-icon {
		margin-right: 6px;
	}

	.arrow-left-icon {
		margin-right: 10px;
	}

}

#fixed-bot-menu {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #D71E31;
	padding: 12px;
	z-index: 90;

	@media screen and (max-width: 600px) {
		display: block;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		#counter {
			position: absolute;
			top: -8px;
			right: 20px;
			width: 16px;
			font-size: 10px;
			text-align: center;
			border-radius: 50%;
			color: #D71E31;
			z-index: 101;
			background-color: white;
		}

		img {
			margin-bottom: 4px;
		}
	}
}

.owl-theme {
	width: 60%;	
	position: relative;

	.buy-btn {
		@media screen and (max-width: 991px) {
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 991px) {
		width: 100%;
		text-align: center;
	}

	h2 {
		font-family: 'Ultima Pro', sans-serif;
		font-weight: 900;
		font-size: 60px;
		line-height: 100%;

		@media screen and (max-width: 1520px) {
			font-size: 40px;
		}

		@media screen and (max-width: 991px) {
			font-size: 30px;
		}

	}
	p {
		margin-top: 20px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.owl-dots>button:nth-child(n+6) {
		display: none !important;
	}

}

#toys {
	width: 40%;

	@media screen and (max-width: 991px) {
		width: 100%;
		text-align: center;
	}

	img {
	
		@media screen and (max-width: 1520px) {
			width: 100%;
		}

		@media screen and (max-width: 991px) {
			width: 60%;
		}

		@media screen and (max-width: 414px) {
			width: 100%;
		}
	}

}

.buy-btn {
	font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(180deg, #FE9E6C 0%, #FC885E 8.85%, #E8504B 89.06%, #D34546 100%);
    box-shadow: 0px 3px 3px rgba(146, 30, 28, 0.25);
    border-radius: 31px;
    cursor: pointer;
    width: 263px;
    height: 63px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.04em;
    color: #FDFFFF;
    outline: unset;
    font-weight: 600;
    margin-top: 50px;
    transition: .2s;

    &:hover {
    	opacity: 0.8;
    	color: #FDFFFF;
    }

	@media screen and (max-width: 991px) {
		width: 336px;
		height: 55px;
		margin-top: 18px;
	}

    i {
	    color: white;
	    box-shadow: 0px 2px 2px #ED5B49;
	    font-size: 2.2em;
	    width: 45px;
	    height: 45px;
	    background: linear-gradient(180deg, #E65246 0%, #ED7154 88.54%, #EB7154 100%);
	    border-radius: 50%;
	    padding: 5px;

		@media screen and (max-width: 991px) {
			font-size: 1.6em;
			width: 32px;
			height: 32px;
			padding: 5px 0;
		}
	}

}

.owl-dots {
	position: absolute;
    left: -30%;
    top: 50%;
	transform: rotate(90deg);
	
	@media screen and (max-width: 1420px) {
		left: -20%;
	}

	@media screen and (max-width: 1238px) {
		position: unset;
		transform: unset;
		margin-top: 20px;
		margin-left: 24px;
	}

}

.owl-theme .owl-dots, .owl-theme .owl-nav {

	@media screen and (max-width: 1238px) {
		text-align: left;
	}

	@media screen and (max-width: 991px) {
		text-align: center;
	}
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
	color: #b42534;
}

.owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 22px;
	background: #E23042;
    box-shadow: 0px 2px 3px #F13E50, inset 0px 0px 6px rgba(0, 0, 0, 0.1), inset 0px 3px 5px rgba(0, 0, 0, 0.15);
    filter: blur(0.5px);

 	@media screen and (max-width: 991px) {
	    width: 16px;
	    height: 16px;
	}
}

.owl-theme .owl-dots .owl-dot.active span {
	background: linear-gradient(180deg, #FFF08D 0%, #FEE43A 10.94%, #DF772C 90.1%, #DF772C 100%);
}

.owl-nav {
	transform: rotate(90deg);
    margin-top: 10px;
    width: 250px;
    position: absolute;
    left: -214px;
    top: 54%;
	z-index: 200;
	
	@media screen and (max-width: 1420px) {
		left: -146.5px;
	}

	@media screen and (max-width: 1238px) {
		position: unset;
		transform: unset;
	}
}

.owl-prev,
.owl-next {
  position: absolute;
  
}

.owl-prev {
  left: 0;

	@media screen and (max-width: 1238px) {
		left: 0;
		bottom: 9.5px;
	}
}

.owl-next {
  right: 7px;

	@media screen and (max-width: 1238px) {
		left: 207px;
		bottom: 9.5px;
	}

}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: unset;
}

main {
	padding: 40px 0;
}

#brands-bg {
	background-image: url('../../img/popular-brands/popular-brands-bg.png');
	height: 383px;
	width: 100%;
	position: absolute;
	@extend %bgImage;

	@media screen and (max-width: 1199px) {
		display: none;
	}

}

.special {
	position: relative;
	z-index: 99;
	box-shadow: 0px 5px 30px rgba(91, 24, 31, 0.15);
	border-radius: 20px;
	height: 730px;
	padding: 0;
}

.left {

	background: #D2162A;
	border-radius: 20px 0px 0px 20px;
	width: 10%;
	height: 100%;
	position: relative;

	@media screen and (max-width: 991px) {
		border-radius: 20px 20px 0px 0px;
		padding: 10px;
		width: 100%;

	}
}

.yellow-title {

	font-family: 'Ultima Pro', sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 100%;
	color: #FEE43A;
	transform: rotate(-90deg);
	position: absolute;
	width: 500px;
	height: 30px;
	left: -190px;
	top: 30%;

	@media screen and (max-width: 991px) {
		position: unset;
		transform: unset;
		text-align: center;
		width: auto;
	}

	@media screen and (max-width: 468px) {
		font-size: 26px;
		height: auto;
	}
}

.right {
	
	width: 90%;
	height: 100%;
	border-radius: 0 20px 20px 0;
	padding: 8px;
	background: #FFFFFF;

	@media screen and (max-width: 991px) {
		width: 100%;
	}

}

#brands {
	margin-top: -166px;

	@media screen and (max-width: 1199px) {
		height: 590px;
		margin-top: -98px;
	}

	@media screen and (max-width: 991px) {
		height: auto;
		padding-bottom: 20px;
	}


	.brand-item {
		width: 50%;

		@media screen and (max-width: 1199px) {
			height: 240px
		}

		@media screen and (max-width: 991px) {
			width: 100%;
			height: auto;
		}

		@media screen and (max-width: 768px) {
			width: 50%;
		}

		.item-content{
			height: 100%;
			border-radius: 10px;

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				flex-direction: column;
				padding: 20px;
			}

			@media screen and (max-width: 468px) {
				padding: 10px;
			}

			h4 {
				font-family: 'Ultima Pro', sans-serif;
				font-weight: 900;
				font-size: 30px;
				line-height: 100%;
				color: #FDFFFF;
				margin-bottom: 10px;

				@media screen and (max-width: 1199px) {
					font-size: 24px;
				}

				@media screen and (max-width: 768px) {
					font-size: 26px;
				}

				@media screen and (max-width: 468px) {
					font-size: 20px;
				}

			}

			p {
				font-size: 16px;
				line-height: 24px;
				color: #FDFFFF;

				@media screen and (max-width: 1199px) {
					line-height: 20px;
				}

				@media screen and (max-width: 768px) {
					display: none;
				}

			}

			>div {

				display: flex;
				flex-direction: column;

				justify-content: space-around;
				height: 100%;
				width: 50%;

				&:first-of-type {
					align-items: center;

					@media screen and (max-width: 991px) {
						width: 30%;
					}

					@media screen and (max-width: 768px) {
						width: 100%;
						height: 50%;
						text-align: left;
						align-items: flex-start;
					}

					@media screen and (max-width: 468px) {
						height: 60%;
					}

					img {
						@media screen and (max-width: 1199px) {
							width: 86%;
						}
						@media screen and (max-width: 991px) {
							width: auto;
						}

						&:first-of-type {

							@media screen and (max-width: 786px) {
								width: 120px;
							}
						}

						&:last-of-type {

							@media screen and (max-width: 991px) {
								display: none;
							}
						}
					}

				}

				&:last-of-type {

					padding: 16px 0;

					@media screen and (max-width: 1199px) {
						width: 60%;
						padding: 10px 0;
					}

					@media screen and (max-width: 991px) {
						width: 70%;
						height: auto;
					}

					@media screen and (max-width: 768px) {
						width: 100%;
						height: 50%;
					}

					@media screen and (max-width: 468px) {
						height: 40%;
					}

					a {

						text-transform: uppercase;

						@media screen and (max-width: 468px) {
							font-weight: bold;
							font-size: 14px;
						}

						img {
							margin-left: 5px;
							margin-top: -4px;
						}
					}
				}

			}

		}

	}

	.buy-btn {
		margin-top: 26px;

		@media screen and (max-width: 1199px) {
			margin-top: unset;
		}

		@media screen and (max-width: 991px) {
			margin-top: 20px;
		}
	}

	#play-doh {
		background-image: url('../../img/popular-brands/play-doh-bg.png');
		@extend %bgImage;

		>div>img:last-of-type {
			margin-left: -17px;

			@media screen and (max-width: 1199px) {
				margin-left: -22px;
			}
		}		
	}

	#beyblade {
		>div:first-of-type {
			justify-content: flex-end;

			@media screen and (max-width: 991px) {
				justify-content: center;
			}

		}

		background-image: url('../../img/popular-brands/beyblade-bg.png');
		@extend %bgImage;

		>div>img:first-of-type {
			@media screen and (min-width: 991px) {
				display: none;
			}
		}
	}

	#lol {

		>div:first-of-type {
			justify-content: flex-end;

			@media screen and (max-width: 991px) {
				justify-content: center;
			}

		}

		background-image: url('../../img/popular-brands/lol-bg.png');
		@extend %bgImage;

		>div:first-of-type>img:first-of-type {
			position: absolute;
			top: 35px;
			left: 8px;

			@media screen and (max-width: 1199px) {
				top: 70px;
				left: 28px;
				width: 20%;
			}

			@media screen and (max-width: 991px) {
				position: unset;
				width: auto;
				transform: rotate(46deg);
			}

			@media screen and (max-width: 768px) {
				position: absolute;
				top: 0;
			}

			@media screen and (max-width: 468px) {
				top: -10px;
				left: 15px;
			}

		}

	}

	#lego {
		background-image: url('../../img/popular-brands/lego-bg.png');
		@extend %bgImage;
	}

}

#products {

	background-image: url('../../img/popular-products/large-bg.png');
	@extend %bgImage;
	margin-top: 40px;
	padding: 120px 0;

	@media screen and (max-width: 991px) {
		margin-top: 20px;
		padding: 140px 0 100px 0;
	}

	@media screen and (max-width: 360px) {
		margin-top: 20px;
		padding: 110px 0 100px 0;
	}

	@media screen and (max-width: 360px) {
		background-image: url('../../img/popular-products/mobile-bg.png');
	}

	h2 {
		font-family: 'Ultima Pro', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: 100%;
		margin-bottom: 24px;
		text-align: center;
		color: #FFFFFF;

		@media screen and (max-width: 600px) {
			font-size: 30px;
		}

		@media screen and (max-width: 414px) {
			font-size: 26px;
		}

		span {
			color: #48B4DD;
		}
	}

	#products-inner {

		@media screen and (max-width: 768px) {
			padding: 5px;
		}

		.product-item {
			width: 25%;
			padding: 10px;
			height: 385px;
			border-radius: 20px;

			@media screen and (max-width: 991px) {
				width: 50%;
				height: 400px;
			}

			@media screen and (max-width: 768px) {
				height: 340px;
				padding: 5px;
			}

			@media screen and (max-width: 414px) {
				height: 290px;
			}

			@media screen and (max-width: 360px) {
				&:nth-child(n+5) {
					display: none !important;
				}
			}

			.item-inner {
				background-color: #FFFFFF;
				box-shadow: 0px 5px 25px rgba(29, 52, 79, 0.15);
				width: 100%;
				height: 100%;
				border-radius: 20px;
				padding: 10px;
			}

			.product-img {
				width: 100%;

				@media screen and (max-width: 768px) {
					height: 160px;
				}

				@media screen and (max-width: 414px) {
					height: 120px;
				}
			}

			.item-title {
				font-size: 16px;
				line-height: 20px;
				color: #172029;

				@media screen and (max-width: 414px) {
					font-size: 14px;
				}
			}

			.wish {
				position: absolute;
				top: 2%;
				right: 1%;
			    top: 3%;
				right: 5%;
			}

			.price {

				width: 100%;

				.cart {
					background-color: rgba(0,158,224, 0.1);
					border-radius: 22px;
					width: 70px;
					text-align: center;
					padding: 12px;
					line-height: 0;

					@media screen and (max-width: 768px) {
						width: auto;
					}
				}

				span {
					font-family: 'Ultima Pro', sans-serif;
					font-style: normal;
					font-weight: 900;
					font-size: 30px;
					line-height: 100%;
					color: #172029;

					@media screen and (max-width: 768px) {
						font-size: 20px;
					}
				}

			}

		}
	}

}

.special-offers-item {
	width: 30%;
	height: 100%;

	.inner-padding {
		width: 100%;
	}

	.large {
		box-shadow: 0px 5px 15px rgba(29, 52, 79, 0.15);
		border-radius: 10px;
		height: 50%;
	}

	.small {
		background: #FFFFFF;
		box-shadow: 0px 4px 13px rgba(29, 52, 79, 0.1);
		border-radius: 10px;
		height: 25%;
	}

	.date {
		font-size: 14px;
		line-height: 20px;
		color: #6C869E;
	}

	.desc {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: black;	
	}
}

footer {
	color: white;
	width: 100%;
	background-image: url('../../img/footer-bg.png');
	@extend %bgImage;

	@media screen and (max-width: 600px) {
		background-image: url('../../img/mobile-footer-bg.png');
	}
}

#footer-content {
	padding: 92px 0;

	@media screen and (max-width: 600px) {
		padding: 54px;
	}

	>div>div {
		@media screen and (max-width: 991px) {
			width: 50%;
			margin-bottom: 30px;
		}

		@media screen and (max-width: 600px) {
			width: 100%;
			text-align: center;
		}
       
	}
	h4 {
		font-family: Ultima Pro;
		font-weight: 900;
		font-size: 16px;
		line-height: 100%;
		text-transform: uppercase;
		color: #FDFFFF;
		margin-bottom: 20px;

		@media screen and (max-width: 600px) {
			& {
				cursor: pointer;
			}
		}

		i {
			display: none;
			font-size: 16px;
    		margin-left: 5px;

    		@media screen and (max-width: 600px) {
				& {
					display: inline-block;
					transition: .2s;
				}

				&.rotate {
					transform: rotate(180deg);
				}
			}
		}
	}

	ul li {
		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 30px;
	}

	a {
		color: #FBB2B2;
	}

	i {
		color: white;
		font-size: 1.4em;
	}

	#social i {
		border-radius: 50%;
	    padding: 12px 0;
	    background-color: #D71E31;
	    width: 46px;
	    height: 46px;
	    text-align: center;
	}
}

#bot-footer {
	text-align: center;
	border-top: 2px solid #F84053;
	opacity: 0.6;
}

#phone span {
	font-weight: 600;
	font-size: 27px;
	line-height: 24px;
	letter-spacing: 0.013em;
	color: #FEE43A;
}

#phone {
	margin-bottom: 0;
}

#schedule {
	color: #fbb2b2;
	text-align: center;
	margin-bottom: 52px;

	@media screen and (max-width: 991px) {
		text-align: left;
	}

	@media screen and (max-width: 600px) {
		text-align: center;
	}
       
}
