@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

@font-face {
    font-family: Ultima Pro;
    font-weight: bold;
    src: url("../../assets/fonts/UltimaPro-Bold.otf") format("opentype");
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	color: white;
	width: 100%;
	height: 900px;
	background-image: url('../../img/header-bg.png');
	@extend %bgImage;
}

a {
	color: white;

	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

button, input {
	border: unset;
    outline: unset;
}

button:focus {
	outline: unset;
}

i {
	cursor: pointer;
}


%bgImage {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


#top-header {
	opacity: 0.6;
	border-bottom: 2px solid #F84053;

	@media screen and (max-width: 600px) {
		display: none;
	}

	ul {

		li {
			position: relative;
			padding-left: 40px;

			&:last-of-type::after, &:nth-child(2)::after {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				position: absolute;
				left: 16px;
				top: 10px;
				background: rgba(152, 9, 22, 0.5);
			}

		}
	}
}

#search-box {
    width: 326px;
    padding: 12px 12px;
    background: rgba(235, 61, 77, 0.7);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

	@media screen and (max-width: 1199px) {
		width: 280px;
	}

	@media screen and (max-width: 480px) {
		width: 170px;
	}

	i {
		color: #FEE43A;
	}

	input {
	    background-color: transparent;
	    color: #FDFFFF;
	    font-size: 16px;
	    display: block;
	    width: 80%;

		&:focus::placeholder {
	    	color: transparent;
		}

	    &::placeholder {
	    	color: #FDFFFF;
	    }
	}
	
}

#mid-header {
	margin-top: 10px;

	@media screen and (max-width: 600px) {
		margin-top: 0;
		padding: 0;
	}

	>div {

		@media screen and (max-width: 991px) {
			background: #D71E31;
			border-bottom: 6px solid #D2162A;
			box-shadow: 0px 2px 1px #CC2C3B;
			padding: 10px 20px;
			border-radius: 10px;
		}

		>div:last-of-type {

			@media screen and (max-width: 991px) {
				display: none;
			}

		}

	}

	ul li {

		border: 3px solid #F84053;
		box-shadow: 0px 2px 1px #CC2C3B;
		border-radius: 100px;
		width: 165px;
	    padding: 8px 0;
	    text-align: center;
	    margin-left: 10px;

	    @media screen and (max-width: 1199px) {
			width: 150px;
		}

		a {
			color: #FDFFFF;
			font-size: 15px;
			line-height: 19px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
		}

		img {
			margin-right: 10px;
		}

	}

	#logo {

		@media screen and (max-width: 991px) {
			width: 95px;
		}
	}

	#close-menu {
		display: none;
		cursor: pointer;
		width: 24px;
	}

	#hamb-block {
		display:  none;
		width: 24px;

		@media screen and (max-width: 991px) {
			display: block;
			cursor: pointer;
		}
	}

}

#large-menu {

	@media screen and (max-width: 991px) {
		display: none;
	}

	>div {
		background-color: #d2162a;
		box-shadow: 0px 1px 3px rgba(146, 30, 28, 0.2);
		border-radius: 13px;
		padding: 6px;
		margin-top: 10px;
		>div {
		    background-color: #D71E31;
			border-radius: inherit;
		}
	}

	#catalog-link {
		border-radius: 13px;
		background: rgba(235, 61, 77, 0.55);
		padding: 15px 30px;


		@media screen and (max-width: 1199px) {
			padding: 15px;
		}

		img {
			margin-right: 10px;
		}
	}

	nav {
		padding: 15px 10px;

		a {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 16px;
			line-height: 24px;
			font-weight: bold;
			color: #FDFFFF;
		}

		li+li {
			margin-left: 40px;

			@media screen and (max-width: 1199px) {
				margin-left: 24px;
			}
		}
	}

}

#mobile-menu {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	background-color: white;
	width: 90%;
	margin-top: 10px;
	box-shadow: 0px 4px 20px
	rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	#catalog-menu {
		display: none;
	}

	li {
		display: block;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 50px;
		border-bottom: 1px solid #E9EDF1;
		
		transition: border-color .2s;

		cursor: hover;

		&:hover {
			border-color: #D2162A;
		}
		
		a {
			color: black;
		}
	}

	.back a {
		color: #E23042;
	}

	.red-account-icon {
		margin-right: 6px;
	}

	.arrow-left-icon {
		margin-right: 10px;
	}

}

#header-bot-menu {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #D71E31;
	padding: 12px;
	z-index: 90;

	@media screen and (max-width: 600px) {
		display: block;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		#counter {
			position: absolute;
			top: -8px;
			right: 20px;
			width: 16px;
			font-size: 10px;
			text-align: center;
			border-radius: 50%;
			color: #D71E31;
			z-index: 101;
			background-color: white;
		}

		img {
			margin-bottom: 4px;
		}
	}
}

.owl-theme {
	width: 60%;	
	position: relative;
	h2 {
		font-family: 'Ultima Pro', sans-serif;
		font-weight: 900;
		font-size: 60px;
		line-height: 100%;
	}
	p {
		margin-top: 20px;
	}

}

#toys {
	width: 40%;
}

.buy-btn {
	font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(180deg, #FE9E6C 0%, #FC885E 8.85%, #E8504B 89.06%, #D34546 100%);
    box-shadow: 0px 3px 3px rgba(146, 30, 28, 0.25);
    border-radius: 31px;
    cursor: pointer;
    width: 263px;
    height: 63px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.04em;
    color: #FDFFFF;
    outline: unset;
    font-weight: 600;
    margin-top: 50px;

    i {
	    color: white;
	    box-shadow: 0px 2px 2px #ED5B49;
	    font-size: 2.2em;
	    width: 45px;
	    height: 45px;
	    background: linear-gradient(180deg, #E65246 0%, #ED7154 88.54%, #EB7154 100%);
	    border-radius: 50%;
	    padding: 5px 0;
	}

	span {
		width: 80%;
	}
}

.owl-dots {
	position: absolute;
    left: -44%;
    top: 50%;
    transform: rotate(90deg);
}

.owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 22px;
	background: #E23042;
    box-shadow: 0px 2px 3px #F13E50, inset 0px 0px 6px rgba(0, 0, 0, 0.1), inset 0px 3px 5px rgba(0, 0, 0, 0.15);
    filter: blur(0.5px);
}

.owl-theme .owl-dots .owl-dot.active span {
	background: linear-gradient(180deg, #FFF08D 0%, #FEE43A 10.94%, #DF772C 90.1%, #DF772C 100%);
}

.owl-nav {
	transform: rotate(90deg);
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}

main {
	padding: 40px 0;
}

#brands {

	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgba(91, 24, 31, 0.15);
	border-radius: 20px;
	height: 730px;
	padding: 0;

	#left {
		background: #D2162A;
		border-radius: 20px 0px 0px 20px;
		width: 10%;
		height: 100%;
		position: relative;

		h2 {
			font-family: 'Ultima Pro', sans-serif;
			font-weight: 900;
			font-size: 30px;
			line-height: 100%;
			color: #FEE43A;
			transform: rotate(-90deg);
			position: absolute;
			width: 325px;
			height: 30px;
			left: -110px;
			top: 30%;
		}
	}

	#right {
		
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		height: 100%;
		padding: 10px;
		justify-content: center;

		>div {
			width: 50%;
			height: 280px;
			padding: 0 10px 10px 10px;
	
			>div {
				display: flex;
				align-items: center;
				height: 100%;
				border-radius: 10px;

				h4 {
					font-family: 'Ultima Pro', sans-serif;
					font-weight: 900;
					font-size: 30px;
					line-height: 100%;
					color: #FDFFFF;
					margin-bottom: 10px;
				}

				p {
					font-size: 16px;
					line-height: 24px;
					color: #FDFFFF;
				}

				>div {
					width: 50%;
				}

				>div:last-of-type {
					height: 210px;
				}
			}
		}

		.buy-btn {
			margin-top: 0;
		}

		#play-doh {
			background-image: url('../../img/popular-brands/play-doh-bg.png');
			@extend %bgImage;		
		}

		#beyblade {
			background-image: url('../../img/popular-brands/beyblade-bg.png');
			@extend %bgImage;
		}

		#lol {
			background-image: url('../../img/popular-brands/lol-bg.png');
			@extend %bgImage;
		}

		#lego {
			background-image: url('../../img/popular-brands/lego-bg.png');
			@extend %bgImage;
		}
	}

}

footer {
	color: white;
	width: 100%;
	background-image: url('../../img/footer-bg.png');
	@extend %bgImage;

	@media screen and (max-width: 600px) {
		background-image: url('../../img/mobile-footer-bg.png');
	}
}

#footer-content {
	padding: 92px 0;

	@media screen and (max-width: 600px) {
		padding: 54px;
	}

	>div>div {
		@media screen and (max-width: 991px) {
			width: 50%;
			margin-bottom: 30px;
		}

		@media screen and (max-width: 600px) {
			width: 100%;
			text-align: center;
		}
       
	}
	h4 {
		font-family: Ultima Pro;
		font-weight: 900;
		font-size: 16px;
		line-height: 100%;
		text-transform: uppercase;
		color: #FDFFFF;
		margin-bottom: 20px;

		@media screen and (max-width: 600px) {
			& {
				cursor: pointer;
			}
		}

		i {
			display: none;
			font-size: 16px;
    		margin-left: 5px;

    		@media screen and (max-width: 600px) {
				& {
					display: inline-block;
					transition: .2s;
				}

				&.rotate {
					transform: rotate(180deg);
				}
			}
		}
	}

	ul li {
		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 30px;
	}

	a {
		color: #FBB2B2;
	}

	i {
		color: white;
		font-size: 1.4em;
	}

	#social i {
		border-radius: 50%;
	    padding: 12px 0;
	    background-color: #D71E31;
	    width: 46px;
	    height: 46px;
	    text-align: center;
	}
}

#bot-footer {
	text-align: center;
	border-top: 2px solid #F84053;
	opacity: 0.6;
}

#phone span {
	font-weight: 600;
	font-size: 27px;
	line-height: 24px;
	letter-spacing: 0.013em;
	color: #FEE43A;
}

#phone {
	margin-bottom: 0;
}

#schedule {
	color: #fbb2b2;
	text-align: center;
	margin-bottom: 52px;

	@media screen and (max-width: 991px) {
		text-align: left;
	}

	@media screen and (max-width: 600px) {
		text-align: center;
	}
       
}
