@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
@font-face {
  font-family: Ultima Pro;
  font-weight: bold;
  src: url("../../assets/fonts/UltimaPro-Bold.otf") format("opentype");
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f3f5f7;
}

header {
  color: white;
  width: 100%;
  height: 900px;
  background-image: url("../../img/header-bg.png");
}

@media screen and (max-width: 1520px) {
  header {
    height: 714px;
  }
}

@media screen and (max-width: 1199px) {
  header {
    height: 600px;
  }
}

@media screen and (max-width: 991px) {
  header {
    background-image: url("../../img/flat-header-bg.jpg");
    height: auto;
    padding-bottom: 70px;
  }
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

button, input {
  border: unset;
  outline: unset;
}

button:focus {
  outline: unset;
}

i {
  cursor: pointer;
}

header, #brands-bg, #brands #right #play-doh, #brands #right #beyblade, #brands #right #lol, #brands #right #lego, footer {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#top-header {
  opacity: 0.6;
  border-bottom: 2px solid #F84053;
}

@media screen and (max-width: 600px) {
  #top-header {
    display: none;
  }
}

#top-header ul li {
  position: relative;
  padding-left: 40px;
}

#top-header ul li:last-of-type::after, #top-header ul li:nth-child(2)::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 10px;
  background: rgba(152, 9, 22, 0.5);
}

#search-box {
  width: 326px;
  padding: 12px 12px;
  background: rgba(235, 61, 77, 0.7);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1199px) {
  #search-box {
    width: 280px;
  }
}

@media screen and (max-width: 480px) {
  #search-box {
    width: 170px;
  }
}

#search-box i {
  color: #FEE43A;
}

#search-box input {
  background-color: transparent;
  color: #FDFFFF;
  font-size: 16px;
  display: block;
  width: 80%;
}

#search-box input:focus::placeholder {
  color: transparent;
}

#search-box input::placeholder {
  color: #FDFFFF;
}

#mid-header {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  #mid-header {
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  #mid-header > div {
    background: #D71E31;
    border-bottom: 6px solid #D2162A;
    box-shadow: 0px 2px 1px #CC2C3B;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 991px) {
  #mid-header > div > div:last-of-type {
    display: none;
  }
}

#mid-header ul li {
  border: 3px solid #F84053;
  box-shadow: 0px 2px 1px #CC2C3B;
  border-radius: 100px;
  width: 165px;
  padding: 8px 0;
  text-align: center;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  #mid-header ul li {
    width: 150px;
  }
}

#mid-header ul li a {
  color: #FDFFFF;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

#mid-header ul li img {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  #mid-header #logo {
    width: 95px;
  }
}

#mid-header #close-menu {
  display: none;
  cursor: pointer;
  width: 24px;
}

#mid-header #hamb-block {
  display: none;
  width: 24px;
}

@media screen and (max-width: 991px) {
  #mid-header #hamb-block {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 991px) {
  #large-menu {
    display: none;
  }
}

#large-menu > div {
  background-color: #d2162a;
  box-shadow: 0px 1px 3px rgba(146, 30, 28, 0.2);
  border-radius: 13px;
  padding: 6px;
  margin-top: 10px;
}

#large-menu > div > div {
  background-color: #D71E31;
  border-radius: inherit;
}

#large-menu #catalog-link {
  border-radius: 13px;
  background: rgba(235, 61, 77, 0.55);
  padding: 15px 30px;
}

@media screen and (max-width: 1199px) {
  #large-menu #catalog-link {
    padding: 15px;
  }
}

#large-menu #catalog-link img {
  margin-right: 10px;
}

#large-menu nav {
  padding: 15px 10px;
}

#large-menu nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #FDFFFF;
}

#large-menu nav li + li {
  margin-left: 40px;
}

@media screen and (max-width: 1199px) {
  #large-menu nav li + li {
    margin-left: 24px;
  }
}

#mobile-menu {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: white;
  width: 90%;
  margin-top: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

#mobile-menu #catalog-menu {
  display: none;
}

#mobile-menu li {
  display: block;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 50px;
  border-bottom: 1px solid #E9EDF1;
  transition: border-color .2s;
  cursor: hover;
}

#mobile-menu li:hover {
  border-color: #D2162A;
}

#mobile-menu li a {
  color: black;
}

#mobile-menu .back a {
  color: #E23042;
}

#mobile-menu .red-account-icon {
  margin-right: 6px;
}

#mobile-menu .arrow-left-icon {
  margin-right: 10px;
}

#fixed-bot-menu {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #D71E31;
  padding: 12px;
  z-index: 90;
}

@media screen and (max-width: 600px) {
  #fixed-bot-menu {
    display: block;
  }
}

#fixed-bot-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#fixed-bot-menu a #counter {
  position: absolute;
  top: -8px;
  right: 20px;
  width: 16px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  color: #D71E31;
  z-index: 101;
  background-color: white;
}

#fixed-bot-menu a img {
  margin-bottom: 4px;
}

.owl-theme {
  width: 60%;
  position: relative;
}

@media screen and (max-width: 991px) {
  .owl-theme {
    width: 100%;
    text-align: center;
  }
}

.owl-theme h2 {
  font-family: 'Ultima Pro', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
}

@media screen and (max-width: 1520px) {
  .owl-theme h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 991px) {
  .owl-theme h2 {
    font-size: 30px;
  }
}

.owl-theme p {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .owl-theme p {
    display: none;
  }
}

.owl-theme .owl-dots > button:nth-child(n+6) {
  display: none !important;
}

#toys {
  width: 40%;
}

@media screen and (max-width: 991px) {
  #toys {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1520px) {
  #toys img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #toys img {
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  #toys img {
    width: 100%;
  }
}

.buy-btn {
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(180deg, #FE9E6C 0%, #FC885E 8.85%, #E8504B 89.06%, #D34546 100%);
  box-shadow: 0px 3px 3px rgba(146, 30, 28, 0.25);
  border-radius: 31px;
  cursor: pointer;
  width: 263px;
  height: 63px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.04em;
  color: #FDFFFF;
  outline: unset;
  font-weight: 600;
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .buy-btn {
    width: 336px;
    height: 55px;
    margin-top: 18px;
    margin: 0 auto;
  }
}

.buy-btn i {
  color: white;
  box-shadow: 0px 2px 2px #ED5B49;
  font-size: 2.2em;
  width: 45px;
  height: 45px;
  background: linear-gradient(180deg, #E65246 0%, #ED7154 88.54%, #EB7154 100%);
  border-radius: 50%;
  padding: 5px 0;
}

@media screen and (max-width: 991px) {
  .buy-btn i {
    font-size: 1.6em;
    width: 32px;
    height: 32px;
    padding: 5px 0;
  }
}

.buy-btn span {
  width: 80%;
}

.owl-dots {
  position: absolute;
  left: -30%;
  top: 50%;
  transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
  .owl-dots {
    position: unset;
    left: unset;
    top: unset;
    transform: unset;
  }
}

.owl-theme .owl-dots .owl-dot span {
  width: 22px;
  height: 22px;
  background: #E23042;
  box-shadow: 0px 2px 3px #F13E50, inset 0px 0px 6px rgba(0, 0, 0, 0.1), inset 0px 3px 5px rgba(0, 0, 0, 0.15);
  filter: blur(0.5px);
}

@media screen and (max-width: 991px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
  }
}

.owl-theme .owl-dots .owl-dot.active span {
  background: linear-gradient(180deg, #FFF08D 0%, #FEE43A 10.94%, #DF772C 90.1%, #DF772C 100%);
}

.owl-nav {
  transform: rotate(90deg);
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}

main {
  padding: 40px 0;
}

#brands-bg {
  background-image: url("../../img/popular-brands/popular-brands-bg.png");
  height: 383px;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 1199px) {
  #brands-bg {
    display: none;
  }
}

#brands {
  margin-top: -166px;
  position: relative;
  z-index: 100;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(91, 24, 31, 0.15);
  border-radius: 20px;
  height: 730px;
  padding: 0;
}

@media screen and (max-width: 1199px) {
  #brands {
    height: 590px;
    margin-top: -98px;
  }
}

@media screen and (max-width: 991px) {
  #brands {
    height: auto;
    padding-bottom: 20px;
  }
}

#brands #left {
  background: #D2162A;
  border-radius: 20px 0px 0px 20px;
  width: 10%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 991px) {
  #brands #left {
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    width: 100%;
  }
}

#brands #left h2 {
  font-family: 'Ultima Pro', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  color: #FEE43A;
  transform: rotate(-90deg);
  position: absolute;
  width: 325px;
  height: 30px;
  left: -110px;
  top: 30%;
}

@media screen and (max-width: 991px) {
  #brands #left h2 {
    position: unset;
    transform: unset;
    text-align: center;
    width: auto;
  }
}

@media screen and (max-width: 468px) {
  #brands #left h2 {
    font-size: 26px;
    height: auto;
  }
}

#brands #right {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  justify-content: center;
  border-radius: 20px;
  padding: 8px;
}

@media screen and (max-width: 991px) {
  #brands #right {
    width: 100%;
  }
}

#brands #right > div {
  width: 50%;
  padding: 8px;
}

@media screen and (max-width: 1199px) {
  #brands #right > div {
    height: 240px;
  }
}

@media screen and (max-width: 991px) {
  #brands #right > div {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #brands #right > div {
    width: 50%;
  }
}

#brands #right > div > div {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #brands #right > div > div {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (max-width: 468px) {
  #brands #right > div > div {
    padding: 10px;
  }
}

#brands #right > div > div h4 {
  font-family: 'Ultima Pro', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  color: #FDFFFF;
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  #brands #right > div > div h4 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  #brands #right > div > div h4 {
    font-size: 26px;
  }
}

@media screen and (max-width: 468px) {
  #brands #right > div > div h4 {
    font-size: 20px;
  }
}

#brands #right > div > div p {
  font-size: 16px;
  line-height: 24px;
  color: #FDFFFF;
}

@media screen and (max-width: 1199px) {
  #brands #right > div > div p {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  #brands #right > div > div p {
    display: none;
  }
}

#brands #right > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

#brands #right > div > div > div:first-of-type {
  align-items: center;
}

@media screen and (max-width: 991px) {
  #brands #right > div > div > div:first-of-type {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  #brands #right > div > div > div:first-of-type {
    width: 100%;
    height: 50%;
    text-align: left;
    align-items: flex-start;
  }
}

@media screen and (max-width: 468px) {
  #brands #right > div > div > div:first-of-type {
    height: 60%;
  }
}

@media screen and (max-width: 1199px) {
  #brands #right > div > div > div:first-of-type img {
    width: 86%;
  }
}

@media screen and (max-width: 991px) {
  #brands #right > div > div > div:first-of-type img {
    width: auto;
  }
}

@media screen and (max-width: 786px) {
  #brands #right > div > div > div:first-of-type img:first-of-type {
    width: 120px;
  }
}

@media screen and (max-width: 991px) {
  #brands #right > div > div > div:first-of-type img:last-of-type {
    display: none;
  }
}

#brands #right > div > div > div:last-of-type {
  padding: 16px 0;
}

@media screen and (max-width: 1199px) {
  #brands #right > div > div > div:last-of-type {
    width: 60%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 991px) {
  #brands #right > div > div > div:last-of-type {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #brands #right > div > div > div:last-of-type {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 468px) {
  #brands #right > div > div > div:last-of-type {
    height: 40%;
  }
}

#brands #right > div > div > div:last-of-type a {
  text-transform: uppercase;
}

@media screen and (max-width: 468px) {
  #brands #right > div > div > div:last-of-type a {
    font-weight: bold;
    font-size: 14px;
  }
}

#brands #right > div > div > div:last-of-type a img {
  margin-left: 5px;
  margin-top: -4px;
}

#brands #right .buy-btn {
  margin-top: 26px;
}

@media screen and (max-width: 1199px) {
  #brands #right .buy-btn {
    margin-top: unset;
  }
}

@media screen and (max-width: 991px) {
  #brands #right .buy-btn {
    margin-top: 20px;
  }
}

#brands #right #play-doh {
  background-image: url("../../img/popular-brands/play-doh-bg.png");
}

#brands #right #play-doh > div > img:last-of-type {
  margin-left: -17px;
}

@media screen and (max-width: 1199px) {
  #brands #right #play-doh > div > img:last-of-type {
    margin-left: -22px;
  }
}

#brands #right #beyblade {
  background-image: url("../../img/popular-brands/beyblade-bg.png");
}

#brands #right #beyblade > div:first-of-type {
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  #brands #right #beyblade > div:first-of-type {
    justify-content: center;
  }
}

@media screen and (min-width: 991px) {
  #brands #right #beyblade > div > img:first-of-type {
    display: none;
  }
}

#brands #right #lol {
  background-image: url("../../img/popular-brands/lol-bg.png");
}

#brands #right #lol > div:first-of-type {
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  #brands #right #lol > div:first-of-type {
    justify-content: center;
  }
}

#brands #right #lol > div:first-of-type > img:first-of-type {
  position: absolute;
  top: 35px;
  left: 8px;
}

@media screen and (max-width: 1199px) {
  #brands #right #lol > div:first-of-type > img:first-of-type {
    top: 70px;
    left: 28px;
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  #brands #right #lol > div:first-of-type > img:first-of-type {
    position: unset;
    width: auto;
    transform: rotate(46deg);
  }
}

@media screen and (max-width: 768px) {
  #brands #right #lol > div:first-of-type > img:first-of-type {
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 468px) {
  #brands #right #lol > div:first-of-type > img:first-of-type {
    top: -10px;
    left: 15px;
  }
}

#brands #right #lego {
  background-image: url("../../img/popular-brands/lego-bg.png");
}

footer {
  color: white;
  width: 100%;
  background-image: url("../../img/footer-bg.png");
}

@media screen and (max-width: 600px) {
  footer {
    background-image: url("../../img/mobile-footer-bg.png");
  }
}

#footer-content {
  padding: 92px 0;
}

@media screen and (max-width: 600px) {
  #footer-content {
    padding: 54px;
  }
}

@media screen and (max-width: 991px) {
  #footer-content > div > div {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  #footer-content > div > div {
    width: 100%;
    text-align: center;
  }
}

#footer-content h4 {
  font-family: Ultima Pro;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FDFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  #footer-content h4 {
    cursor: pointer;
  }
}

#footer-content h4 i {
  display: none;
  font-size: 16px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  #footer-content h4 i {
    display: inline-block;
    transition: .2s;
  }
  #footer-content h4 i.rotate {
    transform: rotate(180deg);
  }
}

#footer-content ul li {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

#footer-content a {
  color: #FBB2B2;
}

#footer-content i {
  color: white;
  font-size: 1.4em;
}

#footer-content #social i {
  border-radius: 50%;
  padding: 12px 0;
  background-color: #D71E31;
  width: 46px;
  height: 46px;
  text-align: center;
}

#bot-footer {
  text-align: center;
  border-top: 2px solid #F84053;
  opacity: 0.6;
}

#phone span {
  font-weight: 600;
  font-size: 27px;
  line-height: 24px;
  letter-spacing: 0.013em;
  color: #FEE43A;
}

#phone {
  margin-bottom: 0;
}

#schedule {
  color: #fbb2b2;
  text-align: center;
  margin-bottom: 52px;
}

@media screen and (max-width: 991px) {
  #schedule {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  #schedule {
    text-align: center;
  }
}
